
max_steps = 200
seq_len = 2048

[log]
level = "debug"

[ckpt] # Checkpoint at the end of training

[model]
name = "./outputs/mini_moe"

[wandb]
project = "alphabet-sort"
name = "alphabet-sort"

[trainer.model]
impl = "custom"
attn = "sdpa"

[trainer.model.ac]
freq = 1

[trainer.optim]
lr = 1e-5

[orchestrator]
batch_size = 32
rollouts_per_example = 8

[orchestrator.sampling]
max_tokens = 768

[[orchestrator.env]]
id = "primeintellect/alphabet-sort"
name = "alphabet-sort"
args = { min_turns = 3, max_turns = 5, power_per_turn = false }

[inference] # Default inference config
enable_return_routed_experts = true

