[submodule "renderers"]
	path = deps/renderers
	url = git@github.com:PrimeIntellect-ai/renderers.git
[submodule "research-environments"]
	path = deps/research-environments
	url = git@github.com:PrimeIntellect-ai/research-environments.git
[submodule "pydantic-config"]
	path = deps/pydantic-config
	url = https://github.com/PrimeIntellect-ai/pydantic-config
[submodule "deps/verifiers"]
	path = deps/verifiers
	url = git@github.com:PrimeIntellect-ai/verifiers.git
	branch = main
[submodule "deps/prime"]
	path = deps/prime
	url = git@github.com:PrimeIntellect-ai/prime.git
	branch = feat/nano-as-v1
