inference_gpu_ids = [0,1,2,3,4,5]
trainer_gpu_ids = [6,7]

max_steps = 1000
max_async_level = 4

# [ckpt]
# interval = 50

[model]
name = "Qwen/Qwen3-4B-Instruct-2507"

[wandb]
project = "reverse-text"
name = "reverse-text-4b"

[trainer.optim]
lr = 4e-5
weight_decay = 0.0

[trainer.model.experimental.lora]
rank = 8
alpha = 32
dropout = 0.0
target_modules = [
    "q_proj",
    "k_proj",
    "v_proj",
    "o_proj",
    "gate_proj",
    "up_proj",
    "down_proj"
]

[orchestrator]
batch_size = 1024
rollouts_per_example = 16
seq_len = 8192
mask_truncated_completions = false
zero_truncated_completions = true

[orchestrator.sampling]
max_tokens = 256

[[orchestrator.env]]
id = "primeintellect/reverse-text"

[inference.model]
enforce_eager = true