inference_gpu_ids = [0]
trainer_gpu_ids = [1]

max_steps = 200

[model]
name = "Qwen/Qwen3-4B-Instruct-2507"

[trainer.model]
seq_len = 4096

[wandb]
project = "swe-grep-env"
name = "swe-grep-env"

[trainer.optim]
lr = 1e-5
weight_decay = 0.0


[orchestrator]
batch_size = 256
rollouts_per_example = 8
seq_len = 4096
oversampling_factor = 2.0

[orchestrator.sampling]
max_tokens = 512

[[orchestrator.env]]
id = "swe-grep-env"


[inference]

[inference.model]
enable_auto_tool_choice = true
tool_call_parser = "hermes"
max_model_len = 8192
