max_steps = 100
seq_len = 2048

[wandb]
project = "alphabet-sort-debug"
name = "alphabet-sort"


[model]
name = "Qwen/Qwen3-4B-Instruct-2507"

[orchestrator]
batch_size = 512
rollouts_per_example = 16

[orchestrator.sampling]
max_tokens = 512

[[orchestrator.env]]
id = "primeintellect/alphabet-sort"
name = "alphabet-sort"
args = { min_turns = 2, max_turns = 2 }
address = "tcp://127.0.0.1:5000" # requires: uv run env-server --env.id primeintellect/alphabet-sort --env.args '{"min_turns": 2, "max_turns": 2}' --env.address tcp://127.0.0.1:5000

[trainer]

[inference]