max_steps = 20
seq_len = 2048

[ckpt]

[model]
name = "PrimeIntellect/minimax-m2-tiny"

[trainer.optim]
lr = 3e-6

[trainer.model.lora]
rank = 8

[trainer.ckpt.weights]
save_adapter_separately = true

[orchestrator]
batch_size = 128
rollouts_per_example = 16

[orchestrator.model.lora]
name = "r8-1e-4"

[orchestrator.sampling]
max_tokens = 128

[[orchestrator.env]]
id = "reverse-text"

[inference]
enable_lora = true
gpu_memory_utilization = 0.7

[inference.model]
max_model_len = 2048
