trainer_gpu_ids = [0]
inference_gpu_ids = [1]

max_steps = 300
seq_len = 2048

[wandb]
project = "troll"
name = "hendrycks-math-trpl-top5"

[model]
name = "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B"

[orchestrator]
batch_size = 512
rollouts_per_example = 16

[orchestrator.sampling]
max_tokens = 2048
top_logprobs = 5

[[orchestrator.env]]
id = "math_env"
name = "hendrycks-math"
args = { dataset_name = "PrimeIntellect/Hendrycks-Math", dataset_subset = "default", math_verify_max_workers = 128, math_verify_timeout = 60 }

[orchestrator.buffer]
easy_fraction = 0.0
hard_fraction = 0.0
easy_threshold = 1.0
hard_threshold = 0.0

[orchestrator.val]
interval = 5
num_examples = 128

[orchestrator.eval]
interval = 10

[orchestrator.eval.sampling]
max_tokens = 2048

[[orchestrator.eval.env]]
id = "math500"
name = "math500"
num_examples = 30
rollouts_per_example = 4

[trainer.loss]
type = "trpl"
top_k = 5
kl_bound = 0.05

[inference]
