inference_gpu_ids = [0]
trainer_gpu_ids = [1]
max_steps = 100

[model]
name = "Qwen/Qwen3-4B-Instruct-2507"

[orchestrator]
batch_size = 512
rollouts_per_example = 16
seq_len = 2048

[orchestrator.sampling]
max_tokens = 2048

[[orchestrator.env]]
id = "primeintellect/hendrycks-math"